USE [master]
GO
/****** Object:  Database [Practico1]    Script Date: 02/10/2023 3:49:50 ******/
CREATE DATABASE [Practico1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practico1', FILENAME = N'C:\SQLData\Practico1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practico1_log', FILENAME = N'C:\SQLData\Practico1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practico1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practico1]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 02/10/2023 3:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[IdActividades] [int] IDENTITY(1,1) NOT NULL,
	[Id_cliente] [int] NULL,
	[Tipo_Actividad] [varchar](50) NOT NULL,
	[Fecha] [date] NULL,
	[Descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdActividades] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/10/2023 3:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 02/10/2023 3:49:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[IdContacto] [int] IDENTITY(1,1) NOT NULL,
	[Id_cliente] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo_electronico] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([IdActividades], [Id_cliente], [Tipo_Actividad], [Fecha], [Descripcion]) VALUES (1, 1, N'Lamada', CAST(N'2023-10-01' AS Date), N'Seguimiento de ventas')
SET IDENTITY_INSERT [dbo].[Actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Direccion], [Telefono]) VALUES (1, N'Empresa ABC', N'Calle Principal 123', N'555-1234')
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Direccion], [Telefono]) VALUES (2, N'Empresa DEF', N'Calle Sucundaria 456', N'666-1234')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Contactos] ON 

INSERT [dbo].[Contactos] ([IdContacto], [Id_cliente], [Nombre], [Correo_electronico], [Telefono]) VALUES (1, 1, N'Juan Perez', N'juan@exeple.com', N'555-5678')
INSERT [dbo].[Contactos] ([IdContacto], [Id_cliente], [Nombre], [Correo_electronico], [Telefono]) VALUES (2, 2, N'Maria Lopez', N'maria@exeple.com', N'555-9876')
SET IDENTITY_INSERT [dbo].[Contactos] OFF
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
USE [master]
GO
