USE [master]
GO
/****** Object:  Database [Practico2]    Script Date: 03/10/2023 23:29:40 ******/
CREATE DATABASE [Practico2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practico2', FILENAME = N'C:\SQLData\Practico2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practico2_log', FILENAME = N'C:\SQLData\Practico2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practico2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practico2]
GO
/****** Object:  Table [dbo].[ALUMNOS]    Script Date: 03/10/2023 23:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNOS](
	[IdAlumnos] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumnos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BEDELIAS]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEDELIAS](
	[IdBedelia] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](8) NULL,
	[Cargo] [varchar](50) NOT NULL,
	[GradoDelCargo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBedelia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERA]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERA](
	[IdCarrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[categoria] [varchar](10) NOT NULL,
	[planificacion] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRERA_MATERIA]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERA_MATERIA](
	[Id_Materia] [int] NOT NULL,
	[Id_Carrera] [int] NOT NULL,
	[Id_Grado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Materia] ASC,
	[Id_Carrera] ASC,
	[Id_Grado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREA]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREA](
	[Id_Materia] [int] NOT NULL,
	[Id_Tareas] [int] NOT NULL,
	[id_Grupo] [int] NOT NULL,
	[id_Profesor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Materia] ASC,
	[Id_Tareas] ASC,
	[id_Grupo] ASC,
	[id_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATOS_FORO]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS_FORO](
	[IdDatos] [int] IDENTITY(1,1) NOT NULL,
	[ForoId] [int] NULL,
	[Cedula] [varchar](8) NULL,
	[mensaje] [varchar](max) NOT NULL,
	[archivo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDatos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICTA]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICTA](
	[Id_Materia] [int] NOT NULL,
	[Id_Profesor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Materia] ASC,
	[Id_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTREGA]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTREGA](
	[Id_Alumno] [int] NOT NULL,
	[Id_Tareas] [int] NOT NULL,
	[Archivo] [varbinary](max) NULL,
	[Calificacion] [int] NULL,
	[Fecha_entrega] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Alumno] ASC,
	[Id_Tareas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTAN]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTAN](
	[Id_Foro] [int] NOT NULL,
	[Id_Materia] [int] NOT NULL,
	[id_Grupo] [int] NOT NULL,
	[id_Profesor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Foro] ASC,
	[Id_Materia] ASC,
	[id_Grupo] ASC,
	[id_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORO]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORO](
	[IdForo] [int] IDENTITY(1,1) NOT NULL,
	[Informacion] [text] NOT NULL,
	[Data_Blog] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdForo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADO]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADO](
	[IdGrado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[carrera_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPOS]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOS](
	[idGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[ano_electivo] [varchar](10) NOT NULL,
	[fecha_Creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_REGISTRO]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_REGISTRO](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](8) NULL,
	[Mensaje] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_PUBLICO]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_PUBLICO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](8) NULL,
	[titulo] [varchar](255) NULL,
	[Mensaje] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERTENECEN]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERTENECEN](
	[Id_Alumno] [int] NOT NULL,
	[id_Grupo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Alumno] ASC,
	[id_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESOR]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESOR](
	[IdProfesor] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RE_HACER_TAREA]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RE_HACER_TAREA](
	[IdTareasNueva] [int] IDENTITY(1,1) NOT NULL,
	[IdTareas] [int] NOT NULL,
	[Calificacion] [int] NULL,
	[Fecha_entrega] [date] NOT NULL,
	[Archivo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTareasNueva] ASC,
	[IdTareas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREAS]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREAS](
	[IdTareas] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Fecha_de_Vencimiento] [varchar](255) NOT NULL,
	[Archivo] [varbinary](max) NULL,
	[Fecha_de_Creacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTareas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENEN]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENEN](
	[Id_Materia] [int] NOT NULL,
	[id_Grupo] [int] NOT NULL,
	[id_Profesor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Materia] ASC,
	[id_Grupo] ASC,
	[id_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 03/10/2023 23:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Cedula] [varchar](8) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Apellido] [varchar](255) NULL,
	[Email] [varchar](255) NOT NULL,
	[Email_de_Usuario] [varchar](255) NOT NULL,
	[Tipo_de_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNOS] ON 

INSERT [dbo].[ALUMNOS] ([IdAlumnos], [Cedula]) VALUES (1, N'12345678')
SET IDENTITY_INSERT [dbo].[ALUMNOS] OFF
GO
INSERT [dbo].[USUARIOS] ([Cedula], [Nombre], [Apellido], [Email], [Email_de_Usuario], [Tipo_de_usuario]) VALUES (N'12345678', N'Juan', N'Moreno', N'moreno@mail.com', N'', 2)
INSERT [dbo].[USUARIOS] ([Cedula], [Nombre], [Apellido], [Email], [Email_de_Usuario], [Tipo_de_usuario]) VALUES (N'72650981', N'Mario', N'Figueroa', N'mfigueroa@mail.com', N'', 1)
GO
ALTER TABLE [dbo].[ALUMNOS]  WITH CHECK ADD FOREIGN KEY([Cedula])
REFERENCES [dbo].[USUARIOS] ([Cedula])
GO
ALTER TABLE [dbo].[BEDELIAS]  WITH CHECK ADD FOREIGN KEY([Cedula])
REFERENCES [dbo].[USUARIOS] ([Cedula])
GO
ALTER TABLE [dbo].[CARRERA_MATERIA]  WITH CHECK ADD FOREIGN KEY([Id_Carrera])
REFERENCES [dbo].[CARRERA] ([IdCarrera])
GO
ALTER TABLE [dbo].[CARRERA_MATERIA]  WITH CHECK ADD FOREIGN KEY([Id_Grado])
REFERENCES [dbo].[GRADO] ([IdGrado])
GO
ALTER TABLE [dbo].[CARRERA_MATERIA]  WITH CHECK ADD FOREIGN KEY([Id_Materia])
REFERENCES [dbo].[MATERIAS] ([IdMateria])
GO
ALTER TABLE [dbo].[CREA]  WITH CHECK ADD FOREIGN KEY([id_Grupo])
REFERENCES [dbo].[GRUPOS] ([idGrupo])
GO
ALTER TABLE [dbo].[CREA]  WITH CHECK ADD FOREIGN KEY([Id_Materia])
REFERENCES [dbo].[MATERIAS] ([IdMateria])
GO
ALTER TABLE [dbo].[CREA]  WITH CHECK ADD FOREIGN KEY([id_Profesor])
REFERENCES [dbo].[PROFESOR] ([IdProfesor])
GO
ALTER TABLE [dbo].[CREA]  WITH CHECK ADD FOREIGN KEY([Id_Tareas])
REFERENCES [dbo].[TAREAS] ([IdTareas])
GO
ALTER TABLE [dbo].[DATOS_FORO]  WITH CHECK ADD FOREIGN KEY([Cedula])
REFERENCES [dbo].[USUARIOS] ([Cedula])
GO
ALTER TABLE [dbo].[DATOS_FORO]  WITH CHECK ADD FOREIGN KEY([ForoId])
REFERENCES [dbo].[FORO] ([IdForo])
GO
ALTER TABLE [dbo].[DICTA]  WITH CHECK ADD FOREIGN KEY([Id_Materia])
REFERENCES [dbo].[MATERIAS] ([IdMateria])
GO
ALTER TABLE [dbo].[DICTA]  WITH CHECK ADD FOREIGN KEY([Id_Profesor])
REFERENCES [dbo].[PROFESOR] ([IdProfesor])
GO
ALTER TABLE [dbo].[ENTREGA]  WITH CHECK ADD FOREIGN KEY([Id_Alumno])
REFERENCES [dbo].[ALUMNOS] ([IdAlumnos])
GO
ALTER TABLE [dbo].[ENTREGA]  WITH CHECK ADD FOREIGN KEY([Id_Tareas])
REFERENCES [dbo].[TAREAS] ([IdTareas])
GO
ALTER TABLE [dbo].[ESTAN]  WITH CHECK ADD FOREIGN KEY([Id_Foro])
REFERENCES [dbo].[FORO] ([IdForo])
GO
ALTER TABLE [dbo].[ESTAN]  WITH CHECK ADD FOREIGN KEY([id_Grupo])
REFERENCES [dbo].[GRUPOS] ([idGrupo])
GO
ALTER TABLE [dbo].[ESTAN]  WITH CHECK ADD FOREIGN KEY([Id_Materia])
REFERENCES [dbo].[MATERIAS] ([IdMateria])
GO
ALTER TABLE [dbo].[ESTAN]  WITH CHECK ADD FOREIGN KEY([id_Profesor])
REFERENCES [dbo].[PROFESOR] ([IdProfesor])
GO
ALTER TABLE [dbo].[GRADO]  WITH CHECK ADD FOREIGN KEY([carrera_id])
REFERENCES [dbo].[CARRERA] ([IdCarrera])
GO
ALTER TABLE [dbo].[HISTORIAL_REGISTRO]  WITH CHECK ADD FOREIGN KEY([Cedula])
REFERENCES [dbo].[USUARIOS] ([Cedula])
GO
ALTER TABLE [dbo].[MATERIAL_PUBLICO]  WITH CHECK ADD FOREIGN KEY([Cedula])
REFERENCES [dbo].[USUARIOS] ([Cedula])
GO
ALTER TABLE [dbo].[PERTENECEN]  WITH CHECK ADD FOREIGN KEY([Id_Alumno])
REFERENCES [dbo].[ALUMNOS] ([IdAlumnos])
GO
ALTER TABLE [dbo].[PERTENECEN]  WITH CHECK ADD FOREIGN KEY([id_Grupo])
REFERENCES [dbo].[GRUPOS] ([idGrupo])
GO
ALTER TABLE [dbo].[PROFESOR]  WITH CHECK ADD FOREIGN KEY([Cedula])
REFERENCES [dbo].[USUARIOS] ([Cedula])
GO
ALTER TABLE [dbo].[RE_HACER_TAREA]  WITH CHECK ADD FOREIGN KEY([IdTareas])
REFERENCES [dbo].[TAREAS] ([IdTareas])
GO
ALTER TABLE [dbo].[TIENEN]  WITH CHECK ADD FOREIGN KEY([id_Grupo])
REFERENCES [dbo].[GRUPOS] ([idGrupo])
GO
ALTER TABLE [dbo].[TIENEN]  WITH CHECK ADD FOREIGN KEY([Id_Materia])
REFERENCES [dbo].[MATERIAS] ([IdMateria])
GO
ALTER TABLE [dbo].[TIENEN]  WITH CHECK ADD FOREIGN KEY([id_Profesor])
REFERENCES [dbo].[PROFESOR] ([IdProfesor])
GO
USE [master]
GO
